body {
  background: linear-gradient(-45deg, #001B40, #2F1A4A, #4E194B, #6E1B46, #8D1C3E, #AC1E32, #CB211F, #E83500, #FF7700, #FFBD00, #FFEB00, #FFF800);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


header {
  background: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 15px;
  border: 4px solid;
  border-image: linear-gradient(90deg, #8D1C3E, #AC1E32, #CB211F, #E83500, #FF7700, #FFBD00, #FFEB00, #FFF800) 1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: right;
}

nav li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Orbitron', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
}

nav li a:hover {
  background-color: #333;
  border-bottom: 2px solid #FFC300;
}

main {
  padding: 20px;
  text-align: center;
}

main h2 {
  font-size: 36px;
  margin-bottom: 20px;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
}

h1 {
  font-size: 42px;
  margin-bottom: 20px;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
}

.post {
  text-align: left;
  margin: 20px;
  padding: 20px;
  background-color: #222;
  border-radius: 15px;
  border: 1px solid;
  border-image: linear-gradient(90deg, #8D1C3E, #AC1E32, #CB211F, #E83500, #FF7700, #FFBD00, #FFEB00, #FFF800) 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.post h2 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.post p {
  font-family: Arial, sans-serif;
  font-size: 26px;
  font-weight: normal;
}


.post .author {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.post .date {
  font-size: 12px;
  margin-bottom: 10px;
}

.post a {
  color: #fff;
  text-decoration: underline;
}

li {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.content form {
  max-width: 500px;
  margin: 0 auto;
}

.content form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #fff;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.content form input[type="text"], .content form input[type="email"], .content form input[type="password"], .content form textarea {
  border: none;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
  background-color: rgba(255,255,255,0.2);
  color: #333;
  font-size: 18px;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.6);
}

.content form input[type="text"]::placeholder, .content form input[type="email"]::placeholder, .content form input[type="password"]::placeholder, .content form textarea::placeholder {
  color: rgba(255,255,255,0.6);
}

.content form button[type="submit"] {
  background-color: #111129;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}

.content form .error {
  color: red;
  margin-bottom: 10px;
}

.content form .success {
  color: green;
  margin-bottom: 10px;
}


.tick {
  color: green;
  font-weight: bold;
}

.cross {
  color: red;
  font-weight: bold;
}

.rules {
  list-style-type: square;
  margin-left: 2em;
  margin-bottom: 2em;
}

.rules li {
  font-size: 1.1em;
  margin: 0.5em 0;
}
